/* index.html */
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <a href="/projects">Background</a>
        <a href="/social">Social Media</a>
    </nav>
    <div class="main">
        <img src="/static/your-photo.jpg" alt="Your Photo" class="profile-pic">
        <h1>Rohit Kumar Vadlamudi</h1>
        <p>Email: rohitkumarvadlamudi@gmail.com</p>
        <p>Phone: +1 (647)-580-6342</p>
        <p>Location: Toronto, ON, Canada</p>
    </div>
</body>
</html>